<!DOCTYPE html>
<html>
<head>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
   <script src="js/ytplayer.js"></script>
   <script src="js/app.js"></script>
   <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css" />
   <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
  <body ng-app="queueTube">
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    

<div id="wrapper" ng-controller="PlayerController">
  <div id="player-section">
    <div id="player"></div><br />
    <span id="player-prev" ng-click="playPrevVideo()">Previous</span>
    <span id="player-pause" ng-click="pauseVideo()">Pause</span>
    <span id="player-play" ng-click="playVideo()">Play</span>
    <span id="player-next" ng-click="playNextVideo()">Next</span>

    <div id="player-list">

      <span id="queue-title" class="list-toggle active">Queue</span>
      <ol id="queue-list">
          <li class="queue-item" ng-repeat="video in videoQueue track by $index">{{ video.title }}</li>
      </ol>

      <span id="history-title" class="list-toggle inactive">History</span>
      <ol id="history-list" reversed>
          <li class="history-item" ng-repeat="video in videoHistory track by $index">{{ video.title }}</li>
      </ol>

    </div>
  </div>

  <div id="video-search">
    <form class="pure-form" ng-submit="newSearch()">
      <input id="video-search-input" type="text" ng-model="searchString">
      <input id="video-search-submit" type="submit" class="button postfix" value="Search" />
    </form>
  </div>

  <div id="search-result-list">
    <div class="search-result" ng-repeat="search in searchResults track by $index">
      <h3>{{ search.startIndex }} through {{ search.startIndex + search.itemsPerPage - 1 }} of {{ search.totalResults }}</h3>
      <div class="teaser-box" ng-repeat="result in search.results track by $index">
        <label>
          <input 
            type="checkbox"
            value="{{ result.id }}"
            class="teaser-checkbox"
            ng-checked="videoQueue.indexOf(result) > -1"
            ng-click="toggleSelection(result)"
          />
          <img class="teaser-image" ng-src="{{ result.thumbnailUrl }}" />
          <span class="teaser-duration">{{ result.durationSeconds }}</span>
          <div class="teaser-info">
            <h2 class="teaser-title">{{ result.title }}</h2>
            <p class="teaser-description">{{ result.description }}</p>
          </div>
        </label>
      </div>
    </div>
  </div>

</div>

</body>
</html>