<!DOCTYPE html>
<html>
<head>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
   <script src="js/ytplayer.js"></script>
   <script src="js/app.js"></script>
</head>
  <body ng-app="queueTube">
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    

<div id="player-controller" ng-controller="PlayerController">
  <div id="player"></div><br />
  <span id="player-prev" ng-click="playPrevVideo()">Previous</span>
  <span id="player-pause" ng-click="pauseVideo()">Pause</span>
  <span id="player-play" ng-click="playVideo()">Play</span>
  <span id="player-next" ng-click="playNextVideo()">Next</span>

  <h2>Videos in queue</h2>
  <ul>
      <li ng-repeat="video in videoQueue track by $index">{{ video.title }}</li>
  </ul>

  <h2>Videos already played</h2>
  <ul>
      <li ng-repeat="video in videoHistory track by $index">{{ video.title }}</li>
  </ul>

  <!--<input type="text" ng-model="newVideo">
  <button ng-click="addVideo()">Add</button>-->

  <input type="text" ng-model="searchString">
  <button ng-click="newSearch()">Search</button>
  <span>Scroll down to load more</span>

  <div>
  <h2>Search dump</h2>
  <div ng-repeat="search in searchResults track by $index">
    <h3>{{ search.startIndex }} through {{ search.startIndex + search.itemsPerPage - 1 }} of {{ search.totalResults }}</h3>
    <label ng-repeat="result in search.results track by $index">
        <input 
          type="checkbox"
          value="{{ result.id }}"
          ng-checked="videoQueue.indexOf(result) > -1"
          ng-click="toggleSelection(result)" />
        <div class="results box">
          <h2>{{ result.title }}</h2>
          <img ng-src="{{ result.thumbnail$url }}" />
      </div>
    </label>
  </div>
  </div>

</div>

<style type="text/css">
input:checked + div.results.box{
  background-color:red;
}

.results.box:hover{
  background-color:green;
}


</style>
  </body>
</html>